.main {
  font-size: 16px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    color-stop(30%, #bed8ea),
    color-stop(80%, #efd2ae)
  );
  background-image: linear-gradient(
    to bottom,
    #ffffff 0%,
    #bed8ea 30%,
    #efd2ae 80%
  );
}
img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  margin: 20px 0 5px 0;
  font-weight: 200;
  letter-spacing: 0.6px;
  font-size: 2em;
}

h2 {
  margin: 16px 0;
  font-weight: 400;
  color: #fff;
  font-size: 2em;
  text-shadow: 2px 2px #efd2ae;
}

h3 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #2d3c49;
}

p {
  font-weight: 300;
  margin: 0.6em 0 0;
}

.header {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  display: block;
  border-bottom: 5px solid #02b3e4;
  color: #2d3c49;
  padding: 0 7px;
}

.logo {
  position: absolute;
  top: 5px;
  width: 50px;
  height: 50px;
}

.name,
.subname {
  text-transform: uppercase;
  text-align: right;
}

.subname {
  padding-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.banner {
  width: 100%;
  margin: 0 auto;
}

.masthead {
  display: block;
  width: 100%;
  max-width: 100%;
}

.featured {
  margin: auto;
  width: 98%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.featured-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.featured-container--heading {
  font-size: 1.6em;
  color: #02b3e4;
  margin-bottom: 18px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0 3px 6px -6px #fff;
  box-shadow: 0 3px 6px -6px #fff;
  border-bottom: 1px solid #efd2ae;
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 48%;
}

.flex-container:not(last-child) {
  margin-bottom: 16px;
}

.featured-item {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  border: 2px solid #02b3e4;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}
.featured-item.selected {
  cursor: default;
  background: #fff;
}

.featured-item.selected img {
  pointer-events: none;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.featured-item.selected .featured-item__desc {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.featured-item:hover {
  cursor: pointer;
  background: #fff;
}

.featured-item img {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.featured-item img:hover {
  -webkit-filter: none;
  filter: none;
}

.featured-item .btn-g {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.featured-item .btn-g.hidden {
  display: none;
}

.featured-item button {
  padding: 12px;
  margin: 6px;
  background: white;
  border-radius: 12px;
}

.featured-item button:hover {
  cursor: pointer;
}

.featured-item__desc {
  margin-top: 15px;
}

.featured-item h3 {
  font-size: 24px;
}

footer p {
  font-family: monospace;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 1.6em;
}

@media screen and (max-width: 679px) {
  .featured {
    width: 100%;
  }

  .flex-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
  }

  .banner {
    width: 100%;
  }

  .featured-item {
    margin: 1% 0;
  }
}

@media all and (max-width: 800px) {
  .featured-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-container {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
  }

  h1 {
    font-size: 3em;
  }

  .logo {
    width: 70px;
    height: 70px;
  }
}
